.pendingLeavesMain {
  margin: 0.8rem;
  padding: 0.8rem;
  display: flex;
  /* align-items: center; */
  width: 98%;
  flex-direction: column;
  /* border: 1px solid red; */
}

.pendingLeave {
  margin-top: 0.6rem;
  padding: 0.4rem;
  /* height: 12vh; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
}

.pendingtxt {
  font-size: 1.2rem;
  color: #6075fe;
  font-weight: 500;
  /* margin-right: 10px; */
}

.datesDisplay {
  font-size: 1.2rem;
  /* color: #6075fe; */
  font-weight: 500;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  padding: 0.4rem;
  width: 15vw;
  justify-content: space-around;
}

.inbtwtxt {
  font: 0.6rem;
  font-weight: 400;
  color: black;
}

.prevlevmain {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  font-size: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
}

.anstxt {
  font-weight: 400;
  margin-right: 10vw;
}

.approvetxt {
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #5FD068;
  /* background-color: #1DB954; */
  /* background-color: #64b781; */
  /* background-color: #4BB543; */
  /* background-color: #46e754; */
  color: white;
}

.rejecttxt {
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #FF4646;
  color: white;
}

.datespan {
  color: #6075fe;
  font-weight: 600;
}

.flexcls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6075fe;
  margin-top: 4rem;
}

.pendingCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconctnstyle {
  font-size: 1.2rem;
  color: #7bd4fb;
  padding: 10px;
  font-weight: 800;
  cursor: pointer;
  /* width: 100%; */
}

.iconstyle {
  margin: 5px;
  padding: 3px;
}

.delete:hover {
  transition: 350ms;
  transform: scale(1.2);
  color: #FF4646;
}

.edit:hover {
  transition: 350ms;
  transform: scale(1.2);
  color: #6075fe;
}

.more:hover {
  transition: 350ms;
  transform: scale(1.2);
  color: #7bd4fb;
}

.statusctn {
  padding: 8px;
  /* border: 1px solid #7bd4fb; */
  border: 1px solid #5FD068;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  color: #5FD068;
  /* color: #6075fe; */
}

.maicol {
  color: #6075fe;
}

.fontw600{
  font-weight: 600;
}

.disfac{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 10%;
  width: 80%;
}

.font1{
  font-size: 1rem;
}

.icon{
  font-size: 1.4rem;
}

.divbtn{
  padding: 8px;
  border:1px solid #6075fe;
  border-radius: 8px;
  color: #6075fe;
  text-align: center;
  width: 20%;
  font-size: 1rem;
}

.divbtn:hover{
  background-color: #6075fe;
  color: white;
}

.disfec{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 5%; */
}

.w80{
  width: 80%;
}