.ps {
    border: 1px solid #6075fe;
    color: #6075fe;
    background-color: white;
    padding: '0.4rem';
    border-radius: '5px';
    font-weight: 500;
}

.dtoc {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 74vw;
}

.ps:hover {
    color: white;
    background-color: #6075fe;
}

.radioItem {
    font-size: 15px;
    padding: 0.5rem;
}

.empDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 0.8rem;
}



.econtainer {
    border-top: 1px solid rgb(224, 224, 233);
    padding: 0.6rem;
}

.labelstyle {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}

.pmcontainer {
    margin: 1rem;
    display: flex;
    align-items: center;
}

.blue {
    color: #6075fe;
    font-weight: 600;
    padding-left: 0.2rem;
}

.detail {
    display: flex;
    font-weight: 400;
}

.inputShift {
    border-radius: 5px;
    border: 1px solid #6075fe;
    color: #6075fe;
    font-weight: 600;
    text-align: center;
    outline: none;
    padding: 0.4rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.performanceIcon {
    background: #7bd4fb;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
    padding: 4px;
    margin-right: 0.5rem;
}

.empdetailsmodel {
    display: flex;
    justify-content: flex-end;
}

.updateBtn {
    cursor: pointer;
    width: 35%;
    font-size: 1rem;
    margin: 0.6rem;
    padding: 0.6rem;
    background-color: white;
    color: #6075fe;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #6075fe;
}

.updateBtn:hover {
    background-color: #6075fe;
    color: white;
}

button.upspay {
    text-rendering: none;
    word-spacing: none;
    border-width: none !important;
    border-style: none !important;
    border-color: none !important;
    border-image: none !important;
    height: 1rem !important;
    background-color: transparent;
    cursor: default !important;
    padding-top: 3px;
}

.upsdowns {
    height: 3rem;
    width: 1rem;
    margin-top: -8px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    cursor: default !important;
    justify-content: '';
    height: 12px;
    align-items: center;
    gap: 0.1rem;
    margin-left: 0.2rem;
    /* border: 1px solid green; */
}