.ps{
    border: 1px solid #6075fe;
    color: #6075fe;
    background-color: white;
    padding: '0.4rem';
    border-radius: '5px';
    font-weight: 500;
}

.ps:hover{
color: white;
background-color:#6075fe;
}

.radioItem {
    font-size: 15px;
    padding: 0.5rem;
}

.empDetails {
    display: flex;
    gap: 10rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.937rem;
}

.econtainer {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.937rem;
}

.mcontainer {
    margin-top: 1rem;
}