.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    height: 4rem;
    /* width: 77vw; */
    width: 96%;
    font-weight: 600;
    text-align: center;
    cursor: default;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 1rem;
}