*{
    box-sizing: border-box;
}

.sidebar {
    /* color: #A4A6B3; */
    /* background-color: #363740; */
    /* background-color: white; */
    background-color: #FFFFFF;
    width: 18vw;
    height: 100vh;
    text-align: left;
}

.item {
   color: #A4A6B3;
   /* color: #89CFFD; */
   margin-top: 0.2rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   cursor: pointer;
   /* border: 1px solid #6075fe; */
   width: 95%;
}

/* .item:hover {
    background-color: rgba(255, 255, 255,0.1);
    border-left: solid 2px #ffff;
    cursor:default;
} */

.active {
    /* background-color: rgba(139, 238, 247, 0.2); */
    background-color:#6075fe;
    color: white;
    /* background-color: #DAEAF1; */
    /* border-left: solid 3px black; */
    /* color: #89CFFD; */
    font-weight: 600;
    border-radius: 4px;
}
.activeIcon{
    color: white;
}


ul li {
    list-style: none;
}


.sidebarText { 
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



